@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

/* Ela é a mãe de todos os elementos HTML */
:root{
    /* Criando variáveis de cores padrões do projeto */
}